**Задача:**

Научиться рекомендовать пользователям фильмы на основе факта просмотра фильмов пользователями.

In [1]:
import random
import re

import numpy as np
import pandas as pd

from sklearn.metrics.pairwise import cosine_distances
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split
from scipy.sparse.linalg import svds

1. Данные

- [Источник](https://grouplens.org/datasets/movielens/)
- Используем предобработанные для обучения данные

In [2]:
df = pd.read_csv('https://drive.google.com/uc?id=1203RhVlMiIMNYRRlFNaFHGBJakgvfSsP&confirm=t&uuid=42bf735f-a423-4695-9e03-7412f5fcb692&at=ALt4Tm1C8eZaP2ZAcYBeKVVGjjyb:1690486362470')

Ознакомимся с данными

In [3]:
df.head()

   userId  movieId  rating  timestamp
0      54        2     3.0  974918176
1      54       32     5.0  974836809
2      54       47     4.0  974837760
3      54       50     4.0  974837760
4      54      223     5.0  974840217

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6040099 entries, 0 to 6040098
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 184.3 MB

In [5]:
df.isna().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

Пропусков в данных нет, типы данных соответствуют содержанию. Для удобства приведем названия столбцов к snake case для удобства.

In [6]:
df.columns = [re.sub('(?=[A-Z])', '_', i).lower() for i in df]
df.sample()

         user_id  movie_id  rating  timestamp
2600149   108317      1288     4.0  942921251

Посмотрим, сколько уникальных зрителей и фильмов в датасете.

In [7]:
df[['user_id', 'movie_id']].nunique()

user_id     20000
movie_id     1000
dtype: int64

2. Предположим, постановка рейтинга — обязательное по итогам просмотра фильмов действие. Основываясь на этом, сгенерируйте новый целевой признак «факт просмотра фильма пользователем», который будет равен 1 для всех пар пользователь * фильм из подгруженного датасета.

In [8]:
df['watched'] = 1
df.sample()

        user_id  movie_id  rating  timestamp  watched
326963    12975      1673     2.0  920948234        1

3. А откуда взять «нолики»? В наших данных есть только пары пользователь * фильм, в которых пользователь точно смотрел фильм. Но для обучения модели нужны так называемые «негативы», то есть, пары, где пользователь фильм не смотрел. На практике приходится сталкиваться с необходимостью генерировать их вручную, давайте потренируемся это делать.

a. Сначала найдите уникальные id всех пользователей и уникальные id всех фильмов.

In [9]:
movies_values = df.movie_id.unique()
movies_values

array([    2,    32,    47,    50,   223,   260,   296,   318,   337,
         367,   541,   589,   593,   924,  1036,  1079,  1089,  1090,
        1097,  1136,  1196,  1198,  1200,  1201,  1214,  1215,  1219,
        1240,  1246,  1258,  1259,  1278,  1291,  1304,  1321,  1333,
        1358,  1370,  1374,  1387,  1584,  1967,  1994,  1997,  2021,
        2100,  2174,  2193,  2194,  2288,  2291,  2628,  2683,  2762,
        2804,  2872,  2918,  2944,  2947,  2968,  3489,    70,   110,
         480,  1210,  1270,  1356,  1544,  1580,  2455,  2791,  2858,
        2948,  2951,  3450,     1,   160,   196,   316,   329,   440,
         442,   457,   780,   788,   858,   968,  1073,  1077,  1084,
        1127,  1129,  1179,  1197,  1213,  1221,  1228,  1230,  1242,
        1247,  1272,  1288,  1307,  1345,  1372,  1373,  1375,  1376,
        1396,  1653,  1674,  1676,  1779,  1831,  1876,  1909,  1917,
        2011,  2012,  2028,  2054,  2105,  2371,  2391,  2407,  2428,
        2528,  2529,  2571,  2640,  2694,  2699,  2722,  2797,  2916,
        2949,  2985,  3033,  3039,  3072,  5060,     6,    10,   165,
         350,   356,   368,   370,   377,   380,   454,   586,   733,
          11,    17,   150,   235,   587,   590,   608,   648,   671,
         708,   736,   832,  1028,  1042,  1393,    52,   135,   494,
         719,    16,   252,   339,   348,   357,   539,   597,   750,
        1101,  1265,  1343,  1385,  1391,  1408,  1409,  1466,  1513,
        1517,  1573,  1597,  1617,  1777,  1911,  2013,  2067,  2108,
        2243,  2396,  2405,  2424,  2427,  2478,  2641,  2671,  2701,
        2723,  2770,  2881,  2908,  2987,  3108,  3175,  3176,  3354,
        3363,  3448,  3527,  3578,  3671,  3793,  3826,  3827,  3977,
          21,    39,   153,   161,   185,   236,   288,   292,   344,
         349,   527,   551,   552,   592,  1923,  2605,  2688,  2706,
          25,  1204,  2058,  3107,   410,  1320,  1367,  1527,  1591,
        1690,  1982,  2124,  2134,  2355,  2378,  2420,  2717,  3113,
        3114,  3247,  3697,  3702,  3704,  3863,  3897,     5,    34,
          36,    95,   585,   786,   225,   300,   435,   474,   838,
        1148,  1207,  1302,  1610,  1947,  1954,  1957,  2094,  2115,
        2161,  2324,  2406,  2470,  2501,  2724,  3471,  3751,  2144,
        2248,  2997,  3101,  3210,  3608,  3868,  1608,  2002,  2353,
        3082,  3256,   186,   830,  1252,  1371,  1641,  1784,  1952,
         785,   111,   562,  1203,  1639,  1732,  2005,  2160,  2728,
        2795,  2915,  3147,  3361,  3386,  3481,  4002,   303,  1047,
        1552,  1587,  1625,  1912,  2001,  2278,  2409,  2410,  2617,
        2763,  3006,  3052,  3698,   866,  1722,  1729,  1805,  2006,
        2393,    18,   163,   543,  1092,  1120,  1405,  1407,  1479,
        1485,  1590,  1680,  1883,  2321,  2336,  2369,  2421,  2707,
        2826,  2890,  3005,  3148,  3174,  3253,  3255,  3285,  3301,
        3623,    22,  1968,  2352,   204,   272,  1234,  2746,  1347,
        2300,  1088,  1717,  3552,  1292,  1267,  1569,  3421,   800,
         849,  1091,  1377,  1562,  1663,  2109,  2471,  2616,   994,
        1041,  1299,  1953,   306,   379,   748,   799,  1025,  1049,
        1186,  1275,  1438,  1499,  1556,  1801,  2003,  2064,  2467,
        2581,  2599,  2871,  3087,  3362,  3504,  3683,   151,   253,
         653,   919,  1080,  1193,  1208,  1222,  1262,  1266,  1350,
        2140,  2542,  2692,  2716,  2959,  3081,  3499,  3996,  4011,
        4027,  4128,  4226,  4306,  4571,  4720,  4896,  4993,  5679,
        5816,  5952,  6333,  6539,  6807,  7153,  7438,  8368,  8636,
        8961,     3,    62,   266,  1673,  1748,  3703,  3753,    24,
         173,   904,   953,  1094,  1103,  1188,  1206,  1220,  1225,
        1257,  1276,  1721,  2018,  2046,  2150,  2329,  2657,  2710,
        2788,    19,   420,   520,   594,   596,   104,   141,   364,
         376,   475,   500,   508,   720,  1035,     7,   802,   355,
         362,   553,   852,   899,   914,  1183,  1357,  1682,  3408,
        3911,  3994,  4308,  4370,  4874,  4963,  4995,    48,   168,
         172,   208,   231,   353,   372,   434,  4022,  4034,   969,
        1250,  1960,   145,   256,   784,  1029,  1032,  1274,  1339,
        1961,  2023,  2232,  2294,  2572,  3300,  3396,  4246,  4973,
        5349,  5377,  5378,  5445,  5502,  5669,  6365,  6377,  6537,
        6711,  6863,  6874,  6934,  7254,  7361,  7458,  8622, 30793,
       30812, 33493, 41566,   317,   432,   468,   497,   745,   902,
         910,  1022,  1269,  1282,  2078,  2087,  3916,  4886,  5218,
        8360,  8970,   916,  1285,  1380,  4321,  3967,  6942, 30749,
       40815,   724,   778,  1263,  1704,  2395,  3160,  4016,  1378,
        2000,  2490,  4025,   342,  1059,  2167,  1645,  2302,  2502,
        2580,  2700,  2712,  3948,  4223,  4776,  5418,  5464,  5630,
         261,  3949,  4979,   273,  1172,  5010,  5064,   237,   333,
         466,   485,  6218, 33004,    45,   345,  1223,  5902,  5991,
        7143,  8665, 30810, 32587,  1747,   903,  2019,  7147,  8784,
        1298,  6947,  2116,  3257,  3317,  4901,  8949,  8874,  5995,
        5989,  1907,   112,   293,  4446,  4878,  6502,  3555,   610,
        1037,  1882,  2366,  2541,    60,   491,   529,   588,   595,
         628,   743,   762,   276,   880,  1020,  1256,  2080,  2081,
        2403,  3717,  3988,  4018,  4270,  4310,  4638,  4643,  4848,
        3785,  4148,  4369,   158,   441,   546,   616,   673,  2313,
        3535,  3745,  3752,  3969,  4262,  4299,  4718,  5266,  5459,
        6281,  8361,  8641,  8644, 33679, 33794, 34048, 35836,   315,
         783,  2394,  3809,  8376,  8529,  8984,  4085,  3755,   383,
        4447,   661,  1884,   319,  1918,  2268,  3020,  4367,   216,
         524,   647,   805,  1061,  1476,  1586,  2231,  2273,  2431,
        2539,  3254,  3409,  3617,  3624,  4701,   532,  1027,    44,
         382,   413,  2096,  4734,  4816,  7373,  8464,  8528,  8957,
        3263,   107,  1644,  7090,  8798, 40819,  2423,   180,  5481,
        5956,  6373,   193,   327,  2953,  5872,  4344,  3275,  6188,
        2335,  1249,   908,  1199,  2076,   282,   515,   912,  4361,
        1093,  5299,   471,  1962,  1233,   923,   555,  3252,  3418,
        4014,    58,   194,   230,   307,  1175,  4975,  2761,  5618,
       45499, 45722, 46578, 54001, 59315,  2687,  2085, 69122, 54503,
       48385, 52973, 56367, 68954, 71535, 72998, 73017,  3556, 49272,
       79132,  5673, 78499, 80463, 81591, 68157, 69757,   431,   224,
         509,  1441,  3798,   170,  6378,  7293, 48516, 53125, 56174,
       60069,  4239,  5810,    31, 63082,   455, 47610, 54272, 44665,
        2145,  3105, 34162,  1100,  3060,    29,  4105,  1965,  1060,
        1921,  1271,  1449,   277,  1394,  1500,  1958,  1245,  1411,
        2020,   232,  1589,   247,  1635,  2686,  5388,  6870,  4641,
        5945,   922,  4019,  2739,  3273,  5013,  1235,   140,   105,
        1253,  3510,   207,  2600,  2010,   915,  2289,    79,   637,
        1945,   198,   481,  1019,   222,   913,  1231,  1287,  2359,
        1185,  1244,  1104,  3168,  2485,   909,  5015,  1284,  5903,
        6016, 33166,   246, 70286,  3104,   215,  4855, 68358,  1254,
        3100,   265,  1293,  1125,   837,  1261,  3000,   920,  2125,
         741, 41569, 44191, 48394, 50872, 51662, 53996, 58559, 60684,
       46976, 39183,   203, 44195, 49530, 54286, 45447, 51255, 48780,
       74458,  6953,  5971, 31658, 48774, 55820, 38061, 34405,   531,
        1095,   898,   954,    14,   535,   162,   280,   538,  2384,
        4235,  2340,  1212,  2137,  3424, 36529, 44199, 64614, 44555,
       27773, 56782,   308, 81845,  8950, 55765,  2186,  1086, 30707,
        1296], dtype=int64)

In [10]:
users_values = df.user_id.unique()
users_values

array([    54,     91,    116, ..., 112242,  53853,  42229], dtype=int64)

b. С помощью функции random.choice [(документация)](https://numpy.org/doc/stable/reference/random/generated/numpy.random.choice.html) сгенерируйте случайные пары пользователь * фильм

c. Поскольку среди сгенерированных пар могут быть и такие, что пользователь в них уже смотрел фильм, сгенерируйте побольше пар, например, удвоенное количество строк из источника. Это может занять пару минут.

In [11]:
# создаем пустой список для новых пар
new_pairs = []

# создаем в два раза больше пар, чем в исходном датасете
for i in range(df.shape[0] * 2):
    pair = (np.random.choice(users_values),
            np.random.choice(movies_values),
           )
    new_pairs.append(pair)

d. Среди сгенерированных пар могут быть и дубликаты, удалите их.

In [12]:
# в множестве хранятся только уникальные элементы,
# преобразуем список в множество
new_pairs = set(new_pairs)

e. Оставьте среди сгенерированных пар только те, в которых пользователь фильм не смотрел.

In [13]:
# создаем множество пар значений из исходных данных
old_pairs = set(zip(df['user_id'].values, df['movie_id'].values))

In [14]:
# вычитаем из нового множества те значения, которые были в первом датасете
pairs = new_pairs - old_pairs

f. Возможно, пар получилось больше, чем нужно, выберите из них столько, сколько у нас строк в исходных данных.

In [15]:
len(pairs) > df.shape[0]

True

In [16]:
pairs = pd.DataFrame(random.sample(sorted(pairs), df.shape[0]))
pairs.columns = ['user_id', 'movie_id']

g. Добавьте очищенные сгенерированные пары к исходным данным. Значение целевого признака в них будет равно нулю. Убедитесь, что у вас не появились дубликаты в датасете.

In [17]:
df = pd.concat([df, pairs], ignore_index=True)

In [18]:
df.fillna(0, inplace=True)

In [19]:
df[['user_id', 'movie_id']].duplicated().sum()

0


4. Подготовьте датасет к обучению: отделите тестовую часть от тренировочной.

Отмасштабируем идентификаторы фильмов и пользователей таким образом, чтобы в дальнейшем находить их по индексу матрицы.

In [20]:
df.user_id = df.user_id.apply(lambda f: np.where(users_values == f)[0][0])

In [21]:
df.movie_id = df.movie_id.apply(lambda f: np.where(movies_values == f)[0][0])

In [22]:
train, test = train_test_split(df, test_size=0.01, random_state=5)

Проверим, что в тренировочный датасет попали все пользователи и фильмы

In [23]:
train[['user_id', 'movie_id']].nunique()

user_id     20000
movie_id     1000
dtype: int64

5. Обучите dummy-model. Пусть она будет возвращать случайную вероятность принадлежности классу 1. Для этого можете использовать функцию random.random [(документация)](https://numpy.org/doc/stable/reference/random/generated/numpy.random.random.html). Оцените ее качество какой-то метрикой на свой вкус. Необходимо прогнозировать именно вероятность, чтобы была возможность ранжировать по ней варианты для рекомендации лучшего контента пользователю.

In [24]:
def dummy_model(features):
    predictions = []
    for i in range(features.shape[0]):
        predictions.append(random.random())

    return predictions

In [25]:
dummy_prediction = dummy_model(test)
roc_auc_dummy = round(roc_auc_score(test.watched, dummy_prediction), 2)
print(f'Roc_auc dummy-модели: {roc_auc_dummy}')

Roc_auc dummy-модели: 0.5

6. Реализуйте три алгоритма коллаборативной фильтрации: user-, item-based и алгоритм на основе матричной факторизации. Оцените их качество и адекватность. Если качество недостаточно хорошее, попробуйте варьировать параметры: количество похожих пользователей/фильмов, количество элементов в матрицах при матричном разложении.

Сформируем матрицу user-item. По умолчанию заполним ее нулями.

In [26]:
train_matrix = np.zeros((train.user_id.nunique(), train.movie_id.nunique()))
for line in train.to_dict(orient='records'):
    train_matrix[line['user_id'], line['movie_id']] = line['watched']

Сформируем матрицы попарных косинусных расстояний

In [27]:
user_similarity = cosine_distances(train_matrix)
movie_similarity = cosine_distances(train_matrix.T)

Реализуем user-based алгоритм, перебрав несколько параметров - количество похожих пользователей, по которым делается предсказание. Предсказывать будем вероятность просмотра, а не факт - поэтому результаты предсказаний здесь и далее не будут округляться до 0 и 1. Для оценки алгоритмов будет использоваться метрика roc_auc.

In [28]:
param = [10, 20, 35, 50]

for top in param:
    top_similar_users = []
    for i in range(train.user_id.nunique()):
        neighbors = (user_similarity[i]).argsort()[1:top + 1]
        top_similar_users.append(train_matrix[neighbors])

    top_similar_users = np.array(top_similar_users)
    predicted_user_based = top_similar_users.mean(1)

    test[f'predict_user_based_{top}'] = test.apply(
        lambda f: predicted_user_based[int(f['user_id']),
                                       int(f['movie_id'])], axis = 1)
    
    roc_auc_user_based = round(roc_auc_score(test['watched'],
                                             test[f'predict_user_based_{top}']),
                                             4)
    print(f'Roc_auc user-based алгоритма ({top} похожих пользователей): {roc_auc_user_based}')

Roc_auc user-based алгоритма (10 похожих пользователей): 0.8571
Roc_auc user-based алгоритма (20 похожих пользователей): 0.8654
Roc_auc user-based алгоритма (35 похожих пользователей): 0.8676
Roc_auc user-based алгоритма (50 похожих пользователей): 0.8678

Как видно, все 4 алгоритма адекватны (метрика roc_auc выше, чем у dummy-модели со значением 0.5), лучший вариант алгоритма - при сравнении 50 похожих пользователей. Так как прирост метрики при изменении параметра с 35 до 50 пользователей невелик, остановимся на алгоритме, основанном на сравнении 50-ти ближайших пользователей со значением метрики roc_auc 0.8692.

Теперь реализуем item-based алгоритм, перебрав несколько параметров - количество похожих фильмов, по которым делается предсказание

In [34]:
param = [5, 10, 25]

for top in param:
    top_similar_movies = []
    for i in range(train.movie_id.nunique()):
        neighbors = (movie_similarity[i]).argsort()[1:top + 1]
        top_similar_movies.append(train_matrix.T[neighbors])

    top_similar_movies = np.array(top_similar_movies).T
    predicted_item_based = top_similar_movies.mean(1)

    test[f'predict_item_based_{top}'] = test.apply(
        lambda f: predicted_item_based[int(f['user_id']),
                                       int(f['movie_id'])], axis = 1)
    
    roc_auc_item_based = round(roc_auc_score(test['watched'],
                                             test[f'predict_item_based_{top}']),
                                             4)
    print(f'Roc_auc item-based алгоритма ({top} похожих фильмов): {roc_auc_item_based}')

Roc_auc item-based алгоритма (5 похожих фильмов): 0.8294
Roc_auc item-based алгоритма (10 похожих фильмов): 0.8413
Roc_auc item-based алгоритма (25 похожих фильмов): 0.8401

Все 3 item-based алгоритма адекватны (метрика roc_auc выше, чем у dummy-модели со значением 0.5), лучший вариант алгоритма - при сравнении 10 похожих фильмов, но качество все же чуть хуже, чем качество user-based алгоритма (0.8427 против 0.8692 у user-based)

Теперь реализуем алгоритм на основе матричного разложения

In [30]:
u, s, vh = svds(train_matrix, k=20)
s_diag_matrix = np.diag(s)

users = np.dot(u, s_diag_matrix)
items = vh.T

In [35]:
param = [10, 20, 30, 40]

for elements in param:
    u, s, vh = svds(train_matrix, k=elements)
    s_diag_matrix = np.diag(s)

    users = np.dot(u, s_diag_matrix)
    items = vh.T

    test[f'svd_predictions_{elements}'] = test.apply(
        lambda f: np.dot(users[int(f['user_id'])], items[int(f['movie_id'])]),
        axis = 1)

    roc_auc_svd = round(roc_auc_score(test['watched'],
                        test[f'svd_predictions_{elements}']),
                        4)

    print(f'Roc_auc алгоритма на основе матричного разложения: ({elements} элементов в матрицах): {roc_auc_svd}')

Roc_auc алгоритма на основе матричного разложения: (10 элементов в матрицах): 0.8735
Roc_auc алгоритма на основе матричного разложения: (20 элементов в матрицах): 0.8901
Roc_auc алгоритма на основе матричного разложения: (30 элементов в матрицах): 0.8953
Roc_auc алгоритма на основе матричного разложения: (40 элементов в матрицах): 0.8977

Лучшее значение метрики roc_auc у алгоритма на основе матричного разложения составило 0.8977 при 40 элементах в матрице.

7. Опишите вывод, содержащий информацию о том, какой алгоритм проявил себя лучше всего.

Алгоритм на основе матричного разложения проявил себя лучше всего - значение метрики roc_auc у него самое высокое из трех реализованных алгоритмов, 0.8977 при 40 элментах в матрице. При этом этот алгоритм самый быстрый как с точки зрения выполнения кода, так и с точки зрения его написания.

Лучший результат user-based агоритма - 0.8692 при предсказании на основе 50 ближайших пользователей, а для item-based - 0.8427 при предсказании на основе 10 ближайших фильмов.